*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  width: 1000px;
  margin: 0 auto;  
}

.btn{
  display: flex;
  background-color: #E8F0FE;
  border: none;
  outline: none;
  height: 40px;
  align-items: center;
  justify-content: center;
  padding: 6px 12px;
  font-weight: 600;
  color: var(--color-primary);
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.btn:hover{
  background-color: #D2E3FC;
}
.btn.btn--danger{
  background-color: #dd4d31;
  color: #fff;
}
.btn.btn--danger:hover{
  background-color: #ec5335;
}

.btn.btn--success{
  background-color: #2db463;
  color: #fff;
}

.btn.btn--success:hover{
  background-color: #2fbe68;
}