.modal__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal__header input {
    font-size: 18px;
    font-weight: 500;
    color: #000;
    border: none;
    outline: none;
    /* padding-right: 8px; */
    font-family: "Noto sans", sans-serif;
    /* border: 2px solid transparent; */
    /* padding-left: 2px; */

}

.modal__header input:hover {
    color: #174EA6;
    cursor: pointer;
}

.modal__header input:focus {
    background-color: #f1f1f1;
}

.register__user-name {
    display: flex;
    align-items: center;
}

.register__user-name i {
    font-size: 20px;
    color: #8d8d8d;
    cursor: pointer;
}

.register__user-name i:active{
    color: var(--color-primary);
}

.register__add-image .add-image__btn{
    width: 80px;
    height: 80px;
    padding: 10px;
}

.register__add-image .add-image__btn i{
    display: block;
    font-size: 20px;
}