.modal__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal__header input {
    font-size: 18px;
    font-weight: 500;
    color: #000;
    border: none;
    outline: none;
    margin-right: 8px;
    font-family: "Noto sans", sans-serif;

}

.modal__header input:hover {
    color: #174EA6;
    cursor: pointer;
}

.modal__header input:focus {
    background-color: #f1f1f1;
}

.modal__header input:focus ~ label i{
   color: var(--color-primary);
   animation: rotate 2s ease-in-out infinite;
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.modal__header label{
    margin-top: 2px;
}

.register__user-name {
    display: flex;
    align-items: center;
}

.register__user-name i {
    font-size: 20px;
    color: #8d8d8d;
    cursor: pointer;
}

.register__user-name i:active {
    color: var(--color-primary);
}

.register__add-image .add-image__btn {
    width: 70px;
    height: 70px;
    padding: 10px;
}

.register__add-image .add-image__btn:active {
    border: 2px solid var(--color-primary);
}

.register__add-image .add-image__btn i {
    display: block;
    font-size: 24px;
}

.register__add-image .add-image__btn span {
    font-size: 14px;
    margin-top: 2px;
    display: block;
    font-weight: 500;
}