.login__title{
    display: flex;
    align-items: center;    
}

.login__title img{
    width: 28px;
    height: 28px;
    margin-right: 10px;
}

.modal__body{
    padding: 10px;
}
.login__webcam{
    position: relative;
}
.login__webcam canvas{
    position: absolute;
    width: 570px;
    height: 475px;
    top: 0;
    left: 0;
}